<div class="container-fluid">
  <div class="row">
    <div class="col">
      Best viewed using <a href="https://www.mozilla.org/en-US/firefox/new/">Mozilla FireFox</a>
      <span class="yen_footer_grid"></span>
    </div>
    <div class="col">
        <div class="align-middle text-center">© 2018 - {{  currentDate | date:'y' }} Copyright: <a href="http://yenaideum.com/">yenaideum.com</a>
        </div>
        <span class="yen_footer_grid"></span>
    </div>
    <div class="col">
        <span class="yen_footer_grid"></span>
    </div>
  </div>
</div>