<!-- The base for the main application -->
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <app-header></app-header>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="yen_body_top_pad"></div>
            <div class="card card-body bg-light">
                <router-outlet></router-outlet>
                <app-home></app-home>
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col yen_footer">
            <app-footer></app-footer>
        </div>
    </div>       
</div>


