/* You can add global styles to this file, and also import other style files */

.navbar {
    background-color: transparent;
}
.top-nav-collapse {
    background-color: rgb(228, 228, 228);
}
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: rgb(230, 230, 230);
    }
}

.yen_body_top_pad {
    padding-top: 4em;
}

.yen_main {
    color: black;
}

.yen_logo {
    background: url('../src/assets/images/main/yenaideum-logo-v1-shrink.png') no-repeat;
    background-size: contain;
    min-width: 200px;
    min-height: 50px;
    width: 200px;
    height: auto;
}

.yen_footer {
    background-color: rgb(255, 255, 255);
    margin-top: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
}

/* This is for the footer to make the width already applied */
.yen_footer_grid {
    min-width: 100%;

}

/* Hides Google */
.goog-logo-link {
    display:none !important;
 } 
 
 .goog-te-gadget{
    color: transparent !important;
 }
 
 .goog-te-gadget .goog-te-combo {
     margin: 10px 0 !important;
 }
 
 
 .top-nav-collapse {
     background-color: rgb(0, 93, 168) !important;
 }
 
 /* navbar top for google translate fix up top  */
 .fixed-top{
     top: inherit !important;
 }
 

 .navbar-toggler-icon{
     background-color: black !important;
 }